.droppable {
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  width: 100%;
  list-style-type: none;
  background-color: rgba(39, 39, 39, 0.831);
  border: 1px solid black;
}

.droppable-container {
  display: flex;
  min-height: 102px;
}

.tier-names {
  width: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 24px;
  text-align: center;
}
