.droppable {
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  width: 100%;
  list-style-type: none;
  padding: 5px;
  background-color: rgba(39, 39, 39, 0.831);
  border: 1px solid black;
}

.droppable-container {
  display: flex;
  min-height: 92px;
}

.tier-names {
  width: 100px;
  display: flex;
  padding: 6px;
  justify-content: center;
  align-items: center;
  font-size: 18px;
  text-align: center;
  word-break: normal;
}
