.droppable {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
  list-style-type: none;
  background-color: rgba(39, 39, 39, 0.831);
  border: 1px solid black;
}

.droppable-container {
  display: flex;
  min-height: 100px;
}

.tier-names {
  width: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: red;
  font-size: 24px;
  word-break: break-all;
}
